@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Your Order Number is: @Model <bt/> <br/>
        <img src="/images/orderplacedsuccessfully.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Your Order Has been placed Successfully! <br/>
    </div>
</div>